{% extends 'main/layout.html' %}
{% load static %}


{% block title %}
    <title>Исследователю</title>
{% endblock %}

{% block content %}
    {% include 'main/nav.html' %}
    {% load static %}

    <h1>О волшебных зверях</h1>

    <div class="creature">
        <img src="{% static 'main/img/gipo.jpg' %}" alt="Гиппогриф" style="width:200px; float:left; margin-right:15px;">
        <h2>Гиппогриф</h2>
        <p>
            Клювокрыл (англ. Buckbeak) — гиппогриф, появившийся в повествовании о Гарри Поттере. Был осуждён на казнь, но благодаря Гарри и Гермионе сбежал вместе с Сириусом Блэком. Потом вместе с ним прятался от всего волшебного мира в доме Блэков. После смерти Сириуса поселился опять у Хагрида под именем Махаон. Участвовал в Битве за Хогвартс, возглавив стаю фестралов.        </p>
    </div>

    <div class="creature">
        <img src="{% static 'main/img/nuh.jpg' %}" alt="Нюхль" style="width:200px; float:left; margin-right:15px;">
        <h2>Нюхль</h2>
        <p>
            Нюхлер (или Нюхль) — это мохнатый длинноносый чёрный зверёк, который обитает в Британии. Он живёт в норах и обожает всё блестящее. Нюхлер — животное, покрытое чёрным пушистым мехом. Передние и задние конечности ничем особо не отличаются между собой, они имеют острые когти и почти незаметные перепонки между пальцами. У нюхлера вытянутый нос, по строению напоминающий клюв утки. Хвост зверька покрыт более длинным мехом. Также нюхлеры имеют на груди сумку, в которую складывают добытые ими вещи. Они очень похожи на смесь утконоса и крота. Гоблины часто приручают нюхлеров и обучают их находить в земле сокровища. Нрав у нюхлера смирный, он очень привязчив, но в доме его держать не следует — это губительно сказывается на мебели. Самка за один приплод приносит от шести до восьми детёнышей.        </p>
    </div>

    <div class="creature">
        <img src="{% static 'main/img/basi.jpg' %}" alt="Василиск" style="width:200px; float:left; margin-right:15px;">
        <h2>Василиск</h2>
        <p>
            Василиск — огромный ярко-зелёный змей размером около пятидесяти футов. Очень сильное и, возможно, сильнейшее магическое животное в мире Гарри Поттера. Первый василиск был создан приверженцем чёрной магии Герпием Злостным, заставившим жабу высидеть куриное яйцо. Осознав, насколько страшное чудовище появилось на свет, маги эпохи Средневековья запретили выведение василисков. Всё тело василиска покрыто чешуйчатой бронированной кожей, напоминающей по крепости кожу дракона, устойчивой к заклинаниям. Кожу василиск, как и любая змея, время от времени сбрасывает. Самым страшным оружием василиска считается его смертоносный взгляд. Два огромных жёлтых глаза — обычно последнее, что успевают увидеть его жертвы в этой жизни.        </p>
    </div>

    <div class="creature">
        <img src="{% static 'main/img/jar.jpg' %}" alt="Джарви" style="width:200px; float:left; margin-right:15px;">
        <h2>Джарви</h2>
        <p>
            Джарви, или хамхмырь (англ. Jarvey) — магическое животное, которое встречается в Британии, Ирландии и Северной Америке. По внешнему виду он напоминает хорька-переростка, с одним отличием — джарви умеет говорить. Впрочем, на осмысленную беседу он не способен и ограничивается набором коротких (зачастую очень грубых) фраз, которые выстреливает практически непрерывным потоком. Как правило, джарви живут под землей и охотятся на гномов (для борьбы с которыми маги иногда их используют специально), а также могут поедать кротов, крыс и мышей-полевок.        </p>
    </div>

    <div style="clear:both;"></div>
    {% include 'main/under.html' %}
{% endblock %}