{% extends 'main/layout.html' %}

{% block title %}
    Контакты
{% endblock %}

{% block content %}
    {% include 'main/nav.html'%}

    <h1>Контакты призраков Хогвартса</h1>

    <p>
        Если у вас есть вопросы или вы хотите поделиться своими мыслями с призраками Хогвартса, у вас есть несколько способов связаться с ними. Каждый призрак имеет свои предпочтения в способах общения, так что выберите подходящий для вас.
    </p>

    <ul>
        <li>
            <strong>Почти Безголовый Ник:</strong> Свяжитесь с ним через Почтовую сову, адресованную Большому залу. Ник часто находится там в вечернее время.
        </li>
        <li>
            <strong>Толстый монах:</strong> Вы можете встретить его в коридорах около кухни. Он всегда рад помочь и ответить на ваши вопросы лично.
        </li>
        <li>
            <strong>Серая Леди (Привидение Когтеврана):</strong> Её можно найти в библиотеке. Напишите записку и оставьте её в специальном ящике на втором этаже.
        </li>
        <li>
            <strong>Кровавый Барон:</strong> Связаться с ним можно через привратника Слизерина. Он редко отвечает, но ваши сообщения будут переданы.
        </li>
    </ul>

    <p>
        Мы всегда рады услышать от вас и ждем ваших сообщений. Помните, что призраки могут быть немного непредсказуемы, поэтому будьте терпеливы в ожидании ответа.
    </p>

    {% include 'main/under.html'%}
{% endblock %}