{% extends 'main/layout.html' %}

{% block title %}
  Монах Толстяк (Пивз) рассказывает
{% endblock %}

{% block content %}
   {% include 'main/nav.html' %}
   <h1>Это страничка проделок и шалостей от Монаха Толстяка (Пивза)</h1>

   <div class="news-block">
     <h4>Веселые происшествия в Хогвартсе</h4>
     <p>
       Приветствую, дорогие друзья! Недавно я стал свидетелем, как Пивз устроил настоящий спектакль в Большом Зале, запустив множество разноцветных воздушных шаров, полных конфетти. Во время этого шоу даже профессор Снейп не смог удержаться от легкого удивления, хотя и пытался сохранять серьезность.
     </p>
   </div>

   <div class="news-block">
     <h4>Забавные истории из Косого переулка</h4>
     <p>
         В Косом переулке всегда кипит жизнь. В мой последний визит я увидел, как Пивз попытался превратиться в продавца магазина \"Джордж и Фред Уизли: Волшебные Вредилки\". Хотя его маскарад продлился недолго, он успел развеселить всех покупателей своими проделками!     </p>
   </div>

   <div class="news-block">
     <h4>Приключения в библиотеке Хогвартса</h4>
     <p>
         Недавно, прогуливаясь по библиотеке, я увидел, как Пивз пытался устроить небольшой хаос, заменив обложки книг по зельеварению на фальшивые обложки с шутливыми названиями. Интересно было наблюдать, как студенты пытались разобраться в этом беспорядке, пока мадам Пинс не пришла навести порядок.     </p>
   </div>
{% include 'main/under.html'%}
{% endblock %}
